<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="102400 " />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"></pages>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" />
  </system.web>
  <system.webServer>

    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="SimpleHandlerFactory-Integrated-4.0" />
      <remove name="SimpleHandlerFactory-Integrated" />
      <remove name="SimpleHandlerFactory-ISAPI-4.0_64bit" />
      <remove name="SimpleHandlerFactory-ISAPI-4.0_32bit" />
      <remove name="SimpleHandlerFactory-ISAPI-2.0-64" />
      <remove name="SimpleHandlerFactory-ISAPI-2.0" />
      <remove name="OPTIONSVerbHandler" />
      <add name="AshxHandler" path="*.ashx" verb="*"
    type="System.Web.UI.SimpleHandlerFactory" resourceType="Unspecified"
    requireAccess="Script"/>
    </handlers>
  </system.webServer>
</configuration>
